@*<div class="navbar-collapse collapse">
        <ul class="nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </div>
*@

<div class="nav-collapse collapse">
    <ul class="nav">
        <li>@Html.ActionLink("Students", "Index", "Students")</li>
        <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
        <li>@Html.ActionLink("Instructors", "Index", "Instructor")</li>
        <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
        <li>@Html.ActionLink("Enrollments", "Index", "Enrollments")</li>
    </ul>
</div>

@*@Html.Partial("_LoginPartial")*@