<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        @Html.ActionLink("Students", "Index", "Students", null, new { @class = "dropdown-item" })
        @Html.ActionLink("Courses", "Index", "Courses", null, new { @class = "dropdown-item" })
        @Html.ActionLink("Instructors", "Index", "Instructor", null, new { @class = "dropdown-item" })
        @Html.ActionLink("Departments", "Index", "Department", null, new { @class = "dropdown-item" })
        @Html.ActionLink("Enrollments", "Index", "Enrollments", null, new { @class = "dropdown-item" })
    </div>
</li>