<div class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Menu
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Students", "Index", "Students")</li>
            <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
            <li>@Html.ActionLink("Instructors", "Index", "Instructor")</li>
            <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
            <li>@Html.ActionLink("Enrollments", "Index", "Enrollments")</li>
        </ul>
    </li>
</div>

@Html.Partial("_LoginPartial")